/* text  */
.galleryHome {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
  @media screen and(min-width: 1200px) {
    margin: -20px;
  }
}

.gallery__item {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85));
  width: 100%;
  min-height: 416px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(69, 69, 71, 0.151);
  overflow: hidden;
  border-radius: 5px 5px 0 0;

  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    width: calc(25% - 40px);
    margin: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(50% - 30px);
    margin: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.gallery__item__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 0 5px 0px 5px;
}

.gallery__item__description {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  color: $accent-color;
  padding: 0 5px 5px 5px;
}
.gallery__item__description__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: $accent-color;
  color: $white-color;
  margin-left: 10px;
}
.gallery__item__description__decor {
  margin-left: 3px;
  margin-right: 3px;
}

.gallery__item__picture {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  background-color: rgb(231, 220, 220);
}

.gallery__item {
  background-color: white;
  border-radius: 5px;
}
.gallery__item:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgba(160, 152, 152, 0.25),
    0 10px 10px rgba(160, 152, 152, 0.25);
}

.paginationContainer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentPageNumber,
.PageNumber {
  width: 70px;
  background-color: $accent-color;
  padding: 12px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $white-color;
}

.backBtn,
.nextBtn {
  width: 70px;
  height: 40px;
  padding: 12px;
  border: 0;
  outline: 0;
  background: $primary-white-color;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.backBtn:hover,
.nextBtn:hover {
  background-color: $accent-color;
  color: $primary-white-color;
}

.btnIsHidden {
  display: none;
}

.errorPlug {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.errorPlug p {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.errorPlug img {
  display: block;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
.gallery__item__picture__background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 5px 5px;
}

.btn-scroll {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline-style: none;
  border-width: 0;
  border-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

body.light-theme {
  background-color: wheat;
}

body.dark-theme {
  background-color: #303031;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  padding: 5px;
  background-color: wheat;
  border-radius: 30px;
  position: absolute;
  top: 235px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    top: 235px;
    right: 30px;
  }
  @media screen and(min-width: 1200px) {
    top: 235px;
    right: 100px;
  }
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(25, 25, 34);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: $accent-color;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
