// .galleryLibrary__item__title {
//   /* line-height: 1.33; */
//   margin-top: 10px;
//   margin-bottom: 0;
//   text-transform: uppercase;
//   padding: 0 5px 0px 5px;
// }

// .galleryLibrary__item__description {
//   display: inline-flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 0;
//   margin-bottom: 0;
//   color: #ff6b01;
//   padding: 0 5px 5px 5px;
// }
// .galleryLibrary__item__description__rating {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 36px;
//   height: 16px;
//   border-radius: 5px;
//   background-color: #ff6b01;
//   color: white;
//   margin-left: 10px;
// }
// .galleryLibrary__item__description__decor {
//   margin-left: 3px;
//   margin-right: 3px;
// }

// .galleryLibrary__item__picture {
//   display: block;
//   width: 100%;
//   height: 398px;
//   border-radius: 5px;
//   background-color: rgb(231, 220, 220);
// }

// @media (min-width: 768px) {
//   .sectionLibrary {
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
// }
@media screen and (min-width: 768px) {
  .galleryLibrary {
    display: flex;
    flex-wrap: wrap;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.empty-state {
  color: #fff;
  font-size: 20px;
  margin: auto;
}

.empty-img {
  margin-left: 0;
  margin-right: auto;
}

.empty-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
